# pyproject.toml

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "banking-management-system"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["src"]

[project.scripts]
banking-management-system = "banking.main:main"